main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

ul {
  padding: 0;
}

li {
  padding: 0.25rem 0;
  display: flex;
  justify-content: space-between;
}

li span {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}
