<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Todo App</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
    <script src="https://unpkg.com/vue@3.5.27/dist/vue.global.js"></script>
    <script src="static/api.js"></script>
    <script src="static/login.js" defer></script>
  </head>
  <body>
    <main id="app">
    </main>
  </body>
</html>
